* {
  box-sizing: border-box;
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

h1.title {
    text-align: center;
}
