.category-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 60px 0;
}

.category {
  display: flex;
  flex-direction: column;
  align-items: center;

  .status {
    color: green;
    margin: 10px 0;

    &.red {
      color: red;
    }
  }

  span {
    color: grey;
  }

  .link {
    display: block;
    margin: 20px 0 0 0;
    background: #053099;
    border-radius: 5px;
    padding: 5px 20px;
    color: white;
    text-decoration: none;
  }
}

.product-detail {
  .category {
    div {
      font-size: 20px;
    }
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;
  list-style: none;

  .button-page {
    padding: 5px 10px;
    background: #053099;
    color: white;
    border-radius: 2px;
    text-decoration: none;
  }
  .number {
    display: block;
    width: 20px;
    min-width: 20px;
    text-align: center;
  }
}

.back {
  text-decoration: none;
  color: black;
}
