* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 0 16px;
  margin: 0 auto;
}

h1.title {
  text-align: center;
}

.category-list {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 60px 0;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.category .status {
  color: green;
  margin: 10px 0;
}
.category .status.red {
  color: red;
}
.category span {
  color: grey;
}
.category .link {
  display: block;
  margin: 20px 0 0 0;
  background: #053099;
  border-radius: 5px;
  padding: 5px 20px;
  color: white;
  text-decoration: none;
}

.product-detail .category div {
  font-size: 20px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
}
.pagination .button-page {
  padding: 5px 10px;
  background: #053099;
  color: white;
  border-radius: 2px;
  text-decoration: none;
}
.pagination .number {
  display: block;
  width: 20px;
  min-width: 20px;
  text-align: center;
}

.back {
  text-decoration: none;
  color: black;
}