{% extends 'base.html' %}
{% load static %}
{% block title %} {{ product_list.category }} {% endblock %}


{% block content %}
    <main>
        <div class="container">
            <h1 class="title">{{ category.name }}</h1>
            <a href="{% url 'category_list' %}" class="back">< Назад</a>
            <div class="category-list">
                {% for product in product_list %}
                    <div class="category">
                        <h3>{{ product.name }}</h3>
                        <div class="price"><span>Цена:</span> {{ product.price }}</div>
                        <div class="status {% if product.status == 'Out of stock' %}red{% endif %}"><span>Статус:</span> {{ product.get_status_display }}</div>
                        <div class="remains"><span>Остатки:</span> {{ product.remains }}</div>
                        <a class="link" href="{{ product.get_absolute_url }}">Открыть</a>
                    </div>
                {% endfor %}
            </div>
            {% include 'paginate.html' %}
        </div>
    </main>
{% endblock %}
