{% extends 'base.html' %}
{% load static %}
{% block title %} Список категорий {% endblock %}


{% block content %}
    <main>
        <div class="container">
            <h1 class="title">Список категорий</h1>
            <div class="category-list">
                {% for category in category_list %}
                    <div class="category">
                        <h3>{{ category }}</h3>
                        <a class="link" href="{{ category.get_absolute_url }}">Открыть</a>
                    </div>
                {% endfor %}
            </div>
            {% include 'paginate.html' %}
        </div>
    </main>
{% endblock %}
