<ul class="pagination">
     <li class="page-item">
        {% if page_obj.has_previous %}
            <a class="page-link button-page" href="?page={{ page_obj.previous_page_number }}"><<</a>
        {% else %}
            <a class="page-link button-page"><<</a>
        {% endif %}
        </li>
    <li class="page-item">
        <a class="page-link number">{{ page_obj.number }}</a>
    </li>
    <li class="page-item">
        {% if page_obj.has_next %}
            <a class="page-link button-page" href="?page={{ page_obj.next_page_number }}">>></a>
        {% else %}
            <a class="page-link button-page">>></a>
        {% endif %}
    </li>
</ul>
