{% extends 'base.html' %}
{% load static %}
{% block title %} {{ product.name }} {% endblock %}


{% block content %}
    <main>
        <div class="container">
            <h1 class="title">{{ product.name }}</h1>
            <a href="{% url 'category' product.category.id %}" class="back">< Назад</a>
            <div class="product-detail">
                <div class="category">
                    <div class="price"><span>Цена:</span> {{ product.price }}</div>
                    <div class="status {% if product.status == 'Out of stock' %}red{% endif %}"><span>Статус:</span> {{ product.status }}</div>
                    <div class="remains"><span>Остатки:</span> {{ product.remains }}</div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
